h1 {
    text-align: center;
    margin-top: 75px;
    font-size: 180px;
    font-family: 'VT323';
}

a.play {
    font-family: 'Adamina';
    padding: 0 50px;
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    height: 100px;
    width: 100px;
    background-color: #000000;
    border-radius: 100px;
}